#music-container {
  width: 70%;
  margin-left: 15%;
  color: white;
}

#standard-music-player-container {
  margin-top: 100px;
}

.page-title {
  width: 100%;
  text-align: center;
}

.video-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  height: 70vh; /* Optional: If you want it centered vertically as well */
}
