#music-player {
  width: 100%;
  /* height: 100vh;
  min-height: 600px; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url('star-image-2.png');
  /* background-image: url('star-image-4.jpg'); */
  /* background-image: url('star-image-5.png'); */
  /* background-size: cover; */
  border-bottom: 1px solid white;
}

#music-player-main {
  box-shadow: 0 10px 30px rgba(13, 19, 102, 0.7);
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 200px;
  border: 3px solid rgb(13, 19, 102);
  background-image: url('profile-pic.jpg');
  background-size: cover;
}

@media (min-width: 768px) {
  #music-player-main {
    width: 400px;
    height: 400px;
  }
}
